.venv/
.idea/
*.iml

__pycache__

# Python packaging
*.egg-info/
.eggs/
build/
dist/

# Training outputs
logs/
models/
!src/srgan/models
results/

# Ignore datasets
data/
!src/srgan/data

# Ignore output
outputs/
